<section class="fight-animation wrapper">
    <div class="descripcion widget">
        <h3>{{nameOponent}}</h3>
        <p>{{cardOponent.name}}</p>
        <p>HP {{cardOponent.hp}}</p>
    </div>
    <canvas></canvas>
    <div class="descripcion widget">
        <h3>{{namePlayer}}</h3>
        <p>{{cardPlayer.name}}</p>
        <p>HP {{cardPlayer.hp}}</p>
    </div>
    <input type="hidden" id="cardPlayerImg" value="{{cardPlayer.imgUser}}">
    <input type="hidden" id="playerTipo" value="{{cardPlayer.tipo}}">
    <input type="hidden" id="cardOponentImg" value="{{cardOponent.imgUser}}">
    <input type="hidden" id="oponentTipo" value="{{cardOponent.tipo}}">
</section>

{{#if vencedor}}
<div class="result"><h1 >YOU WIN!</h1></div>

{{else}}
<div class="result"><h1> YOU LOSE!</h1></div>

{{/if}}
<section class="logout wrapper">
    <a href="/dashboard" class="secondary">Back to Dashboard</a>
</section>
<script src="/js/loopAnimation.js"></script>
<script src="/js/mainAnimation.js"></script>