<section class="fight-animation">
    <div id ="descripci贸n oponente">tu oponente descripci贸n</div>
    <canvas></canvas>
    <div id ="descripci贸n oponente">tu descripci贸n</div>
    <input type="hidden" id="cardPlayerImg" value="{{cardPlayer.imgUser}}">
    <input type="hidden" id="cardOponentImg" value="{{cardOponent.imgUser}}">
    {{!-- Tu pokemon <span>{{cardPlayer.name}}</span> <span>{{cardOponent.hp}}</span>
    <img src="{{cardPlayer.imgUser}}" alt="">

    Tu oponente <span>{{cardOponent.name}}</span> <span>{{cardOponent.hp}}</span>
    <img src="{{cardOponent.imgUser}}" alt="">



    <div id="dialogs">
        <p>Te enfrentas {{nameOponent}}a un rival de nivel XXX</p>
    </div> --}}
</section>

{{#if vencedor}}
<h1>Has ganado</h1>
{{else}}
<h1>Has perdido</h1>
{{/if}}
<script src="/js/loopAnimation.js"></script>
<script src="/js/mainAnimation.js"></script>