<section class="menu">
    <h4 class="center"><a href="/dashboard">Go back</a></h4>
</section>
<section class="cardDetail wrapper">
    <h2 class="center">{{name}}</h2>
    <img class="card" src="{{imgUser}}" alt="pokemon-card">
    <div>
        <p>Type: <span class="tipo {{tipo}}"></span> {{tipo}}
        <p>HP {{hp}}</p>
    </div>
</section>