{{> menu}}
{{> userHeader}}

{{> navbar}}
<section  class="wrapper">
    <article class=" widget" id="chart">
        <canvas id ="my-chart"></canvas>
        <p>{{win}} wins</p>
        <p>{{lose}} losses</p>
         <input type="hidden" id="winNumber" value="{{win}}">
        <input type="hidden" id="loseNumber" value="{{lose}}">
    </article>

</section>

<section id="mainProfile" class="wrapper">
    <article class=" widget cardsWidget">
        <h3>Your Cards</h3>
        {{#each cards}}
        <a href="/usercards/{{_id}}">
            <div>
                <span class="tipo {{tipo}}"></span>
                <p>{{name}}</p>
                <p>HP {{hp}}</p>
            </div>
        </a>
        {{/each}}
    </article>

</section>
<section class="logout wrapper">
    <a href="/logOut" class="secondary">Log Out</a>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="/js/chart.script.js"></script>