{{> menu}}
<section class="header-title">
    <h1 class="center">Finished Battles</h1>
</section>
<section id="battlesList" class="wrapper">
    {{#if combatesMostrar}}
    {{#each combatesMostrar}}
    <div class="battle widget">
        <div class="widgetContent">
            <div class="userImg" style="background-image: url('{{this.user2.imgUser}}');"></div>
            <div>
                <h3>Oponent:</h3>
                <p><span>{{this.user2.username}}</span></p>
                <p>Type: <span class="tipo {{this.card2.tipo}}"></span> {{this.card2.tipo}}</p>
            </div>
        </div>
        <hr>
        <div class="widgetContent">
            <img class="cardImg" src="{{this.card1.imgUser}}" alt="">
            <div>
                <h4>Your Pokemon:</h4>
                <p><span>{{this.card1.name}}</span></p>
                <p>Type: <span class="tipo {{this.card1.tipo}}"></span> {{this.card1.tipo}}</p>
                <p>HP {{this.card1.hp}}</p>
            </div>
        </div>
        <a href="/battleAnimation/{{_id}}" class="primary">Show Result</a>
    </div>
    {{/each}}
    {{else}}
    <section class="empty wrapper">
        <img src="/img/ash.gif" alt="">
        <h3>Ups! You don't have any result to discover. <br> What are you waiting for? Go and fight!</h3>
        <a href="/createBattle" class="primary">Create new Battle</a>
    </section>
    {{/if}}
</section>